@import './Variable.scss';

header{position: fixed;z-index: 3;top: 0;left: 0;right: 0;}
.navbar{padding-block: 0;}
.bg-nav{background-color: #010101;}
.nav-link,.nav-link:focus{color: white;}
.nav-link:hover{color: rgb(197, 197, 197);}
.nav-link{font-size: 18px;}
.navbar-nav .nav-link.show,.navbar-nav .nav-link.active{color: #FFFFFF;}
.navbar-nav .nav-link.active{font-weight: $bold;}
.navbar-expand-lg .navbar-collapse{justify-content: end;align-items: center;}

.all-navs .login{color: $primary;font-weight: $bold;}
// .auth-links{display: flex;padding-left: 8px;padding-bottom: 2px; align-items: center;}

// .join-wrapper{position: relative;display: flex;padding-bottom: 2px;}.navbar-expand-lg .navbar-nav .auth-links .nav-link{padding-inline: 3px;padding-block: 0px; font-weight: $bold ;color: $primary;font-size: 24px;}
// .navbar-expand-lg .navbar-nav .auth-links .users .user-logo{display: flex;align-items: center;}
// .navbar-expand-lg .navbar-nav .auth-links .users .user-logo img{margin-inline: 10px;}
// .navbar-expand-lg .navbar-nav .auth-links .users .user-logo #navbarScrollingDropdown{display: flex;align-items: center;}

// .navbar-expand-lg .navbar-nav .auth-links .login::after{content: '/';position: absolute;font-size: 24px;top: 0;}
.dropdown-toggle::after{color: white;}

.shop-link{position: relative;margin-left: 24px;padding-bottom: 0px;padding-top: 3px;}
.cart-counter{background-color: $red;padding: 0;width: 19px;height: 19px;display: flex;justify-content: center;align-items: center; border-radius: 9px;position: absolute;top: 0px;right: 0px;}
// Hamburger color change
.navbar-toggler-icon{background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");border: 2px solid rgba(255, 255, 255, 0.481);}

// start
.icons{display: flex;justify-content: center;align-items: center;}
.nav-right{display: flex;flex-direction: row-reverse;}
// .nav-right{width: 100%;}

//end


// Responsive counter 
@media (max-width: 991px){
  .all-navs{padding-left: 10px;}
  .cart-counter{top: 4px;right: -7px;}
  .shop-link{position: relative;margin-left: 0;}
  .cart-counter{background-color: $red;padding: 0;width: 19px;height: 19px;display: flex;justify-content: center;align-items: center; border-radius: 9px;position: absolute;top: 0px;left: 20px;}
  .auth-links{display: flex;padding-left: 0px;padding-bottom: 2px; align-items: center;}
  .nav-link{font-size: 14px;}

}


