@import "./Variable.scss";
.bg-video{height: 785px;position: relative;margin-top: 120px;width: 100%;}
.video-content-wrapper{ z-index: 2;width: 766px; p{z-index: 1;color: white;text-align: start};h1{z-index: 1;color: white;text-align: start;margin-bottom: 16px;}}
.bg-video-wrapper {width: 100%; }
.bg-video-wrapper video{position: absolute;left: 0;top: 0;bottom: 0;right: 0;width: 100%;height: 100%;object-fit: cover;filter: brightness(61%); }
.flex-class{height: 100%;width: 100%;display: flex;justify-content: center;align-items: center;
}
.video-banner-features{position: absolute; z-index: 2;left:0;right:0;width: 100%;display: flex;justify-content: center;margin-top: 80px;}
.features-wrapper{display: flex;justify-content: center;column-gap: 48px;width: 718px;}
.video-banner-features .features-wrapper h3{line-height: 26px;font-weight: $semibold;color: $white;}
.video-banner-features .features-wrapper .d-gap{column-gap: 22px;}

.hero-wrapper{position: relative}

.overlay{background-color: $secondary;position: absolute;left: 50px;right: 50px; bottom: -180px; display: flex;justify-content: space-around;border-radius: 20px;z-index: 2;column-gap: 64px;padding-inline: 80px;}
.overlay .one{display: flex;align-items: center;row-gap: 25px;padding-block: 40px;flex-direction: column;width: 317px;}

.extra-gap{padding-block: 268px 100px;}

.home-slider-btn-wrapper .primary{padding: 20px 50px;font-size: $cardTitle;margin-top: 80px;}

.index-left-part{background-color: $secondary;height: 100%;border-block:2px solid gray;display: flex;align-items: start;flex-direction: column;justify-content: center;}
.index-left-part .heading{color: $black;padding-bottom: 22px;}
.index-left-part .sub-heading{margin-bottom: 80px;}
.index-left-part .buttons-wrapper .primary{padding: 26px 40px;}
.index-left-part .buttons-wrapper{display: flex;column-gap: 24px;}
.index-image-wrapper{width: 100%;display: flex;justify-content: center;}

@media (max-width:575px){
  .video-content-wrapper h1{font-size: $subHead;}
  .flex-class{align-items: start;}
  .overlay{background-color: $secondary;position: absolute;left: 10px;right: 10px; bottom: -100px; display: flex; border-radius: 20px;z-index: 2;padding-inline: 10px;flex-direction: column;}
.overlay .one{display: flex;align-items: center; flex-direction: row;padding-block: 10px;}
.overlay .one svg{width: 25px;}
.overlay .one p{font-size: 10px;text-align: start;}
.extra-gap{padding-top: 150px;}
// .overlay{display: none;}
.video-banner-features{position: absolute; z-index: 2;left:0;right:0;width: 100%;display: flex;justify-content: center;margin-top: 10px;}
.features-wrapper{display: flex;justify-content: center;column-gap: 48px;width: 100%;flex-direction: column;}
.video-banner-features .features-wrapper h3{line-height: 26px;font-weight: $regular;color: $white;font-size: 15px;}
.video-banner-features .features-wrapper svg{width: 30px;}
.video-banner-features .features-wrapper .d-gap{column-gap: 22px;}

}