@import "./Variable.scss";
.bg-video{position: relative;margin-top: 180px;width: 100%;padding-block: 190px;}
.video-content-wrapper{position: relative; z-index: 2;
   p{z-index: 1;color: white;text-align: start;}
   h1{z-index: 1;color: white;text-align: start;margin-bottom: 16px;}
  }
.bg-video-wrapper {width: 100%; }
.bg-video-wrapper video{position: absolute;left: 0;top: 0;bottom: 0;right: 0;width: 100%;height: 100%;object-fit: cover;filter: brightness(61%); }

.video-banner-features{width: 100%;display: flex;justify-content: center;margin-top: 80px;}
.features-wrapper{display: flex;justify-content: center;column-gap: 48px;width: 718px;}
.video-banner-features .features-wrapper h3{line-height: 26px;font-weight: $semibold;color: $white;}
.video-banner-features .features-wrapper .d-gap{column-gap: 22px;}

.video-banner-features .features-wrapper .d-gap .svg-wrap{width: 91px;height: 91px;}


.overlay{background-color: $secondary;position: absolute;left: 50px;right: 50px; bottom: -180px; display: flex;justify-content: space-around;border-radius: 20px;z-index: 2;column-gap: 64px;padding-inline: 80px;}
.overlay .one{display: flex;align-items: center;row-gap: 25px;padding-block: 40px;flex-direction: column;width: 317px;}


.home-slider-btn-wrapper .primary{padding: 20px 50px;margin-top: 80px;}
.home-slider-btn-wrapper .primary:hover,.home-slider-btn-wrapper .primary:active{background-color: #96c93dc8;}


.after-effect::after{content: '';position: absolute;width: 50%;height: 100%;background-color: $secondary;top: 0;z-index: -1;border-block:2px solid gray;}

.index-left-part{height: 100%;display: flex;align-items: start;flex-direction: column;justify-content: center;padding-inline-end: 50px;}
.index-left-part .heading{color: $black;padding-bottom: 22px;}
.index-left-part .sub-heading{margin-bottom: 80px;color: #565656;}
.index-left-part .sub-heading{color: #565656;}
// .index-left-part .buttons-wrapper .primary{padding: 26px 40px;}
.index-left-part .buttons-wrapper .primary:hover{background-color: #96c93dc8;}
.index-left-part .buttons-wrapper .outline-primary:hover,.index-left-part .buttons-wrapper .outline-primary:active{background-color: $primary;border: 4px solid transparent;}
.index-left-part .buttons-wrapper{display: flex;column-gap: 24px;}

.whatwedo-heading{margin-block-end: 50px;}
.whatwedo-heading p{margin-top: 16px;}


@media (max-width:1199px){

  // .index-left-part .buttons-wrapper .primary {padding: 10px 25px;}
  // .index-left-part .buttons-wrapper .outline-primary{padding: 10px 25px;}


}

@media (max-width:991px){
  .bg-video{margin-top: 120px;padding-block: 80px 200px;}
  .index-left-part{padding: 20px;padding-left: 30px;}
  .overlay{padding-inline: 50px;}

  .overlay .one svg{width: 100%;height: 100%;}
  .overlay .one .svg-div{width: 40px;}
  .index-left-part {background-color: $secondary;border-block:2px solid gray;}
  .after-effect::after{display: none;}
  .video-banner-features .features-wrapper .d-gap .svg-wrap{width: 45px;height: 45px;}
  .home-slider-btn-wrapper .primary{padding: 20px 40px;margin-top: 50px;}

}


@media (max-width:575px){
  .bg-video{margin-top: 85px;padding-block: 70px 400px;}

  .overlay{background-color: $secondary;position: absolute;left: 10px;right: 10px; bottom: -100px; display: flex; border-radius: 20px;z-index: 2;padding-inline: 10px;flex-direction: column;}
.overlay .one{display: flex;align-items: center;padding-block: 10px;width: 100%;}
.overlay .one .svg-div{width: 30px;height: 30px;}
.features-wrapper{display: flex;justify-content: center;column-gap: 48px;width: 100%;flex-direction: column;}
.video-banner-features .features-wrapper h3{line-height: 26px;font-weight: $regular;color: $white;font-size: 15px;}
.video-banner-features .features-wrapper svg{width: 30px;}
.video-banner-features .features-wrapper .d-gap{column-gap: 0px;}
// .index-left-part .buttons-wrapper .primary{font-size: 12px;padding: 10px  20px;}
.index-left-part .buttons-wrapper .outline-primary{font-size: 12px;padding: 10px  20px;}

.index-left-part{padding-inline: 20px;}
.index-left-part .sub-heading{margin-bottom: 20px;color: #565656;}
.index-left-part .heading{font-size: 32px;margin-bottom: 20px;color: #565656;}
.index-left-part .buttons-wrapper{margin-top: 20px;}
.index-left-part {background-color: $secondary;border-block:2px solid gray;}
.video-banner-features{margin-top: 40px;}
.after-effect::after{display: none;}
.index-left-part .Mission-image-wrapper{width: 250px;height: 250px;}
.home-slider-btn-wrapper .primary{padding: 15px 30px;}
.video-banner-features .features-wrapper .d-gap .svg-wrap{width: 45px;height: 45px;}
}



