@import './Variable.scss';

.left-part .heading{margin-block-end: 43px;}
.left-part{padding-inline-end: 100px;display: flex;flex-direction: column;justify-content: center;align-items: start;height: 100%;}
// .Mission-image-wrapper{width: 521.35px;height: 521.35px;border-radius: 20px;}


// Responsive

@media (max-width:1199px){
  .left-part {padding-inline-end: 40px;} 
  .Mission-image-wrapper{width: 400px;height: 400px;}
}

@media (max-width:768px){
  .left-part {padding-inline-end: 40px;} 
  .Mission-image-wrapper{width: 370px;height: 370px;}
}
@media (max-width:575px){
  .left-part {padding-inline-end: 0px;} 
  .Mission-image-wrapper{width: 300px;height: 300px;}
}