@import './Variable.scss';

.bill-order-lifecycle .checkout .line{background-color: $darkGreen;}

// billing start

.billing-mt{margin-top: 120px;}
.billing-mt .billing-nav{padding-top: 20px;}
.billing-mt .navigation{margin-left: 0px;}
.bill-order-lifecycle .first-orders .icon-wrapper{width: 30px;height: 30px;background-color: $darkGreen;border-radius: 20px;margin-right: 8px;}

.bill-order-lifecycle .icon-wrapper svg{width: 100%;height: 100%;padding: 8px;}
.bill-order-lifecycle .order-wrapper{display: flex;align-items: center;justify-content: center;column-gap: 16px;padding-block: 28px;}

.bill-order-lifecycle .first-orders{display: flex;align-items: center;}
.bill-order-lifecycle .first-orders p{font-size: 16px;font-weight: $bold;line-height: 24px;color: $black;}
.bill-order-lifecycle .line{width: 46px;height: 1px;background-color: #C3D2CC;}

.bill-order-lifecycle .sec-orders .icon-wrapper,.bill-order-lifecycle .third-orders .icon-wrapper{width: 30px;height: 30px;background-color: $white;border-radius: 20px;margin-right: 8px;}
.bill-order-lifecycle .sec-orders,.bill-order-lifecycle .third-orders{display: flex;align-items: center;}
.bill-order-lifecycle .sec-orders p,.bill-order-lifecycle .third-orders p{font-weight: $medium;line-height: 24px;color: #717378;}

.all-items-sec .left-bill .cart-heading{display: flex;justify-content: space-between;border-bottom: 1px solid #C8C9CB;padding-bottom: 29px;margin-bottom: 24px;}
.all-items-sec .left-bill .cart-heading h3{color: #060709;}
.all-items-sec .left-bill .cart-heading p{color: #9D9EA2;}
.all-items-sec .left-bill .add-to-cart-items .items-details .img-div{width: 48px;height: 48px;border: 1px solid #F4F4F4;border-radius: 6px;padding: 4px;display: flex;}
.all-items-sec .left-bill .add-to-cart-items .items-details .items-name {width: 250px}
.all-items-sec .left-bill .add-to-cart-items .items-details .items-name p{color: #9D9EA2;}
.all-items-sec .left-bill .add-to-cart-items .items-details{display: flex;column-gap: 16px;}
.all-items-sec .left-bill .add-to-cart-items .items{display: grid;grid-template-columns: 1.5fr 2fr;align-items: center;}

.all-items-sec .left-bill .add-to-cart-items .items .prices-wrapper{display: flex;align-items: center;justify-content: space-between;}
// .all-items-sec .left-bill .add-to-cart-items .items .prices-wrapper{display: grid;grid-template-columns: 2fr 40px 1fr;}
.all-items-sec .left-bill .add-to-cart-items .items .count-price-wrapper{display: flex;align-items: center;column-gap: 12px;}
.all-items-sec .left-bill .add-to-cart-items .items .count-price-wrapper .counter{display: flex;align-items: center;column-gap: 26px;}

.all-items-sec .left-bill .add-to-cart-items .items .count-price-wrapper .counter .amount{width: 36px;height: 36px;display: flex;align-items: center;justify-content: center;font-size: 18px;background-color: #F4F4F4;border-radius: 4px;}

.all-items-sec .left-bill .add-to-cart-items .items .count-price-wrapper .counter button{background-color: transparent;border: none;}
.btn:first-child:active{background-color: #afafaf;}
.all-items-sec .left-bill .add-to-cart-items .items .prices-wrapper .del-btn{border: none;background-color: $red;padding: 8px; border-radius: 50%;display: flex;align-items: center;justify-content: center;width: 30px;}
.all-items-sec .left-bill .add-to-cart-items .items .count-price-wrapper .price p,.all-items-sec .left-bill .add-to-cart-items .items .total p{color: #060709;font-weight: $semibold;}
.all-items-sec .left-bill .add-to-cart-items ul li .subtotal{display: flex;justify-content: space-between;align-items: center;}
.all-items-sec .left-bill .add-to-cart-items ul li .subtotal p{color: #9D9EA2;}
.all-items-sec .left-bill .add-to-cart-items ul li .subtotal .totalamount{color: #060709;font-weight: $semibold;}
.all-items-sec .left-bill .add-to-cart-items ul li:not(:last-child){border-bottom: 1px solid #C8C9CB;padding-bottom: 24px;}

.right-bill{border: 1px solid #F4F4F4;padding: 24px;border-radius: 16px;}
.right-bill .amount-display p{color: #060709;font-weight: $semibold;line-height: 24px;}
.right-bill .amount-display .sms{color: #9D9EA2;font-weight: $regular;}
.right-bill .apply-coupon-wrapper{margin-top: 20px;}
.right-bill .apply-coupon-wrapper .coupon-box{border-radius: 8px;width: 203px;}
.right-bill .apply-coupon-wrapper .apply-btn{font-size: 16px;font-weight: $semibold;line-height: 24px;color: $btnColor;background-color: $secondary;padding: 12px 20px;border: none;}
.right-bill  .sms-show .limit-sms{color: #717378;}
.right-bill  .sms-show{margin-top: 20px; }
.right-bill  .sms-show span{color:#1A1E26; }
.right-bill  .sms-show .limit-amount{color: $red;}
.right-bill  .checkout-btn button{color: $white;font-weight: $semibold;line-height: 24px;font-size: 16px;background-color: #C8C9CB;border: none;width: 100%;padding-block: 16px;margin-top: 20px;}
.right-bill .checkout-btn button span{width: auto;height: auto;}
.right-bill  .checkout-btn .add-to-cart-btn-color{background-color: $btnColor;}
.add-to-cart-btn-color:first-child:active{background-color: #80b32faa;}

.right-bill  .checkout-btn {padding-bottom: 20px;border-bottom: 1px solid #F4F4F4;margin-bottom: 20px;}
.right-bill  .show-payment-cards .cards{display: flex;column-gap: 12px;}
.right-bill  .show-payment-cards p{color: #717378;font-weight: $regular;margin-bottom: 16px;}
.right-bill  .show-payment-cards .cards div{padding: 7px 13px;border: 1px solid #F4F4F4;border-radius: 6px;}

.bottom-wrapper{height: 100%;}
.bottom-wrapper .bill-features-wrapper{padding-top: 24px;}
.bottom-wrapper .bill-features-wrapper .order-wrap{margin-top: 16px;}
.bottom-wrapper .bill-features-wrapper .gap-fix{margin-top: 56px;}



.bottom-wrapper .bill-features-wrapper .sms{color: $btnColor;font-size: 16px;line-height: 24px;}
.bottom-wrapper .bill-features-wrapper {display: flex;flex-direction: column;row-gap: 16px;height: 100%;}
.bottom-wrapper .bill-features-wrapper .order-wrap .order-icon{background-color: #f2f2f2;border-radius: 100px;width: 48px;height: 48px;display: flex;align-items: center;justify-content: center;padding:13px;}
.bottom-wrapper .bill-features-wrapper .order-wrap .order-time p{font-weight: $semibold;font-size: 16px;line-height: 24px;color: #1A1E26;}
.bottom-wrapper .bill-features-wrapper .order-wrap .order-day p{font-weight: $regular;font-size: 18px;line-height: 30px;color: #717378;}
.bottom-wrapper .bill-features-wrapper .order-wrap{border: 1px solid #f2f2f2;border-radius: 12px;height: 100%;}

// billing end

// Checkout start

.override-checkout .first-orders .icon-wrapper{background-color: #C3D2CC;}
.override-checkout .first-orders p{font-weight: $bold;font-size: 18px;line-height: 21px;color: #05422C;}
.override-checkout .sec-orders .icon-wrapper{background-color: $darkGreen;}

.override-checkout .sec-orders p{font-weight: $bold;line-height: 24px;color: $black;}

.left-bill .buyer-info .form-label{color: #46494F;font-weight: $semibold;line-height: 24px;font-size: 16px;}
.left-bill .buyer-info .form-label::after{content: '*';position: absolute;font-weight: $semibold;line-height: 24px;font-size: 16px;color: #46494F;}
.left-bill .buyer-info .optional::after{content: none;}

.left-bill .buyer-info .bottom-info{border-top: 1px solid #C8C9CB;margin-top: 32px;padding-top: 35px;}
.left-bill .buyer-info .bottom-info .input-field{padding-top: 20px;}

.left-bill .buyer-info .additional{font-weight: $regular;font-size: 12px;line-height: 18px;color: #46494F;}

.left-bill .buyer-info .additional::placeholder{font-weight: $regular;font-size: 12px;line-height: 18px;color: #C8C9CB;}

.left-bill .buyer-info .label-effect{font-weight: $semibold;font-size: 16px;line-height: 24px;color: #060709;}
.left-bill .buyer-info form .saved-addresses {margin-top: 30px;padding: 5px;}
.left-bill .buyer-info form .saved-addresses .address-card{background-color: rgb(210, 210, 210);padding: 10px;margin-bottom: 5px;border-radius: 8px;}

.right-bill .money-trans .svg-icon{width: 20px;height: 20px;}
.right-bill .money-trans .svg-icon svg{width: 100%;height: 100%;}
.right-bill .money-trans{display: flex;justify-content: space-between;border-top: 1px solid #F4F4F4;margin-block: 20px;padding-top: 20px;}
.right-bill .money-trans p{font-weight: $semibold;font-size: 16px;line-height: 24px;color: #9D9EA2;align-items: center;}

 .right-bill .checkout-apply-coupon-wrapper .apply-btn{background-color: #F3FBF4;color: #17AF26;}
 .right-bill .checkboxes-wrapper{margin-top: 20px;padding-top:20px;border-top: 1px solid #F4F4F4;}
 .right-bill .checkboxes-wrapper .final-sms .form-check-label{font-weight: $semibold;font-size: 16px;line-height: 24px;color: #717378;}
 .right-bill .checkboxes-wrapper .final-sms .form-check-label::after{content: '*';position: absolute;font-weight: $semibold;line-height: 24px;font-size: 16px;color: #46494F;}

// checkout End

// Order complete start

.override-orderComplete .sec-orders .icon-wrapper{background-color: #C3D2CC;}
.override-orderComplete .third-orders .icon-wrapper{background-color: #05422C;}
.override-orderComplete .sec-orders p{font-weight: $bold;line-height: 21px;color: #05422C;}
.override-orderComplete .third-orders p{font-weight: $bold;line-height: 24px;color: $black;}

.order-complete-wrapper{padding-top: 32px;}
.order-complete-wrapper .order-show{display: flex;justify-content: space-between;padding-bottom: 24px;border-bottom: 1px solid #F4F4F4;}
.order-complete-wrapper .order-show h3{font-weight: $bold;font-size: 20px;line-height: 20px;color: #060709;}
.order-complete-wrapper .order-show .paid-or-not{display: flex;justify-content: center;align-items: center;column-gap: 6px;}
.order-complete-wrapper .order-show .paid-or-not .svg-wrapper{width: 18px;height: 18px; display: flex;align-items: center;}
.order-complete-wrapper .order-show .paid-or-not .svg-wrapper svg{width: 100%;height: 100%;}

.order-complete-wrapper .order-items-show{border-bottom: 1px solid #F4F4F4;padding-bottom: 24px;}
.order-complete-wrapper .order-items-show ul{padding-left: 0px;}
.order-complete-wrapper .order-items-show ul li{border-bottom: 1px solid #F4F4F4;padding-bottom: 24px;margin-bottom: 24px;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper .img-div{width: 48px;height: 48px;border: 1px solid #F4F4F4;border-radius: 6px;padding: 4px;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper{display: flex;column-gap: 16px;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper .items-name {width: 500px;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper .items-name p{color: #9D9EA2;font-weight: $semibold;line-height: 24px;}
// .order-complete-wrapper .order-items-show .items .items-details{display: flex;justify-content: space-between;align-items: center;}
.order-complete-wrapper .order-items-show .items .items-details{display: grid;grid-template-columns: 2fr 1fr 1fr;align-items: center;}
.order-complete-wrapper .order-items-show .items .items-details .final-price{text-align: end;}
.order-complete-wrapper .order-items-show .items .items-details .price{display: flex;align-items: center;justify-content: center;column-gap: 12px;}
.order-complete-wrapper .order-items-show .items .items-details .price .how-many-items{font-weight: $semibold;line-height: 24px;color: #9D9EA2;}
.order-complete-wrapper .order-items-show .items .items-details .price p,.order-items-show .items .items-details .final-price p{font-weight: $semibold;line-height: 24px;color: #060709;}


.order-complete-wrapper .order-items-show .sub-total{display: flex;justify-content: space-between;}
.order-complete-wrapper .order-items-show .sub-total h3{color: #060709;}
.order-complete-wrapper .order-items-show .sub-total .amount{color: $red;}

.order-complete-wrapper .address-wrapper{border-bottom: 1px solid #F4F4F4;padding-bottom: 24px;}
.order-complete-wrapper .address-wrapper .left-address .address,.order-complete-wrapper .address-wrapper .right-address .address{display: flex;justify-content: space-between;margin-bottom: 16px;}
.order-complete-wrapper .address-wrapper .left-address .address .heading,.order-complete-wrapper .address-wrapper .right-address .address .heading{font-weight: $semibold;line-height: 24px;color: #9D9EA2;}
.order-complete-wrapper .address-wrapper .left-address .address p,.order-complete-wrapper .address-wrapper .right-address .address p{font-weight: $semibold;line-height: 24px;color: #060709;}
.order-complete-wrapper .address-wrapper .right-address .total {display: flex;justify-content: space-between;padding-block: 20px;}
.order-complete-wrapper .address-wrapper .right-address .total p{font-weight: $regular;line-height: 21px;color: #060709;font-weight: 700;}
.order-complete-wrapper .address-wrapper .right-address .total .amount{font-weight: $semibold;color: $red;}
.order-complete-wrapper .new-order-btn-wrapper{display: flex;align-items: center;justify-content: center;flex-direction: column;row-gap: 24px;margin-top: 48px;}
.order-complete-wrapper .new-order-btn-wrapper p{font-weight: $semibold;color: #9D9EA2}
// order complete end

// my profile start

.my-profile-wrapper .navigations,.address-normal-wrapper .navigations{display: flex;column-gap: 18px;padding-bottom: 40px;}
.my-profile-wrapper .navigations h3,.address-normal-wrapper .navigations h3{color: $black;}
.my-profile-wrapper .navigations .nav-link,.address-normal-wrapper .navigations .nav-link{color: $primary;font-size: 20px;font-weight: $bold;line-height: 20px;border-bottom: 2px solid $primary;}
.my-profile-wrapper .navigations .links{display: flex;gap: 12px;}

.my-profile-wrapper .user-profile-wrapper .user-info .user-img{width: 100px;height: 100px;}
.my-profile-wrapper .user-profile-wrapper .user-info{display: flex;align-items: center;justify-content: space-between;}
.my-profile-wrapper .user-profile-wrapper .user-info .user-profile{display: flex;column-gap: 24px;align-items: center;}
.my-profile-wrapper .user-profile-wrapper .user-info .user-profile .user-name .email{color: $black;opacity: 50%;line-height: 24px;margin-top: 6px;}
.my-profile-wrapper .user-profile-wrapper .inputs-fields-wrapper{padding-top: 40px;}

// my profile end

//  Address normal start

.address-normal-wrapper{border: 1px solid $black;border-radius: 20px;padding: 30px;}
.address-normal-wrapper .navigations .links{display: flex;gap: 12px;}


// Address normal end

//Address Filled start

.address-normal-wrapper .user-info-wrapper {margin-bottom: 40px;}
.address-normal-wrapper .user-info-wrapper .address h3,.address-normal-wrapper .user-info-wrapper h3{color: $black;line-height: 46px;font-weight: $semibold;margin-block: 10px;}
.address-normal-wrapper .add-new-address-btn-wrapper .outline-primary{border: none;padding: 20px 0px;color: $primary;line-height: 20px;margin-block: 40px 20px;}
.address-normal-wrapper .add-new-address-btn-wrapper .outline-primary:active{color: $black;background-color: transparent;}

//Address Filled end


// product History start
// .product-history{max-height: 1005px;overflow-y: auto;overflow-x: hidden;}
.wrapper{width: 100%;}
.wrapper .product-history-wrapper ul{padding-left: 0px;}
.wrapper .heading h2{font-weight: $bold;line-height: 46px;margin-bottom: 50px;}
.wrapper .product-history-wrapper .products{border: 1px solid $black;border-radius: 20px;padding-block: 20px;padding-inline: 20px;}

.wrapper .product-history-wrapper .products .product-info p{font-weight: $semibold;line-height: 24px;color: $black;margin-top: 10px;}
.wrapper .product-history-wrapper .products .product-info .dropdown .btn-primary{background-color: #95C93D;border: none;font-size: 1rem;width: 100px;padding-block: 10px;margin-top: 12px;}
.wrapper .product-history-wrapper .products .product-info .dropdown .dropdown-menu .dropdown-item{font-weight: 500;font-size: 12px;}
.wrapper .product-history-wrapper .products .product-info{border-bottom: 1px solid $black;padding-bottom: 20px;margin-bottom: 20px;}
.wrapper .product-history-wrapper .products .product-status{width: 100%;background-color: $primary;display: flex;column-gap: 10px;align-items: center;padding: 15px 10px;border-radius: 10px;margin-bottom: 40px;}
.wrapper .product-history-wrapper .products .product-status-2{background-color: #367AFF;}
.wrapper .product-history-wrapper .products .product-details-wrapper .product-img{width: 180px;height: 265px;}
.wrapper .product-history-wrapper .product-item:not(:last-child){border-right: 3px solid gray;padding-right: 15px;}

.wrapper .product-history-wrapper .products .product-details-wrapper{display: flex;column-gap: 40px; max-width: 100%;overflow-x: auto;}
.wrapper .product-history-wrapper .products .product-details-wrapper .product-details h3{padding-bottom: 10px;}
.wrapper .product-history-wrapper .products .product-details-wrapper .product-details p{font-weight: $semibold;font-size: 16px;line-height: 24px;}


@media (max-width:1399px){
  .all-items-sec .left-bill .add-to-cart-items .items{display: grid;grid-template-columns: 1fr;align-items: center;}
  .all-items-sec .left-bill .add-to-cart-items .items-details{margin-bottom: 10px;}
}

@media (max-width:768px){
    .all-items-sec .left-bill .add-to-cart-items .items{display: grid;grid-template-columns: 1fr 3fr;align-items: center;}
    .all-items-sec .left-bill .add-to-cart-items .items-details{margin-bottom: 10px;}
  .navigation h3{font-size: 14px;}
  .bottom-wrapper .bill-features-wrapper .gap-fix{margin-top: 16px;}

  .bottom-wrapper .bill-features-wrapper .sms{margin-top: 10px;}
  .billing-mt{margin-top: 120px;}
  .right-bill .checkout-btn button{font-size: 18px;}
  .right-bill  .show-payment-cards {display: flex;flex-direction: column;align-items: center;}
  .left-bill .buyer-info .additional::placeholder{font-size: 16px;}
  .address-normal-wrapper .add-new-address-btn-wrapper .outline-primary{margin-block-start: 20px;}
  .address-normal-wrapper .user-info-wrapper{margin-bottom: 25px;}
  .all-items-sec .left-bill .add-to-cart-items ul li .subtotal{padding-top: 10px;}
  .wrapper .product-history-wrapper .products .product-details-wrapper{display: flex;gap: 20px;flex-direction: column;}
  .wrapper .product-history-wrapper .product-item:not(:last-child){border-right: none;padding-right: 0;}
  .wrapper .product-history-wrapper .products .product-details-wrapper .product-img{width: 100%;height: 150px;border: none;}
  .order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper .items-name{width: 400px;}
  .wrapper .product-history-wrapper .products .product-info .dropdown .btn-primary{font-size: 1rem;width: 85px;padding-block: 5px;}
.wrapper .product-history-wrapper .products .product-info .dropdown .dropdown-menu {min-width: 140px;}
.wrapper .product-history-wrapper .products .product-info .dropdown .dropdown-menu .dropdown-item{font-weight: 500;font-size: 10px;padding-inline-end: 0px;}
}



@media (max-width:575px){
  .billing-mt{margin-top: 88px;}
  // middle section

  .navigation h3{font-size: 14px;}
  .bill-order-lifecycle .first-orders .icon-wrapper{margin-right: 0px;}
  .bill-order-lifecycle .first-orders{display: flex;align-items: center;flex-direction: column;justify-content: center;}
.bill-order-lifecycle .first-orders p{font-size: 12px;font-weight: $bold;line-height: 24px;text-align: center;}
.bill-order-lifecycle .line{width: 46px;height: 1px;background-color: #C3D2CC;}

.bill-order-lifecycle .sec-orders .icon-wrapper,.bill-order-lifecycle .third-orders .icon-wrapper{width: 30px;height: 30px;background-color: $white;border-radius: 20px;margin-right: 0px;}
.bill-order-lifecycle .sec-orders,.bill-order-lifecycle .third-orders{display: flex;align-items: center;flex-direction: column;}
.bill-order-lifecycle .sec-orders p,.bill-order-lifecycle .third-orders p{font-weight: $medium;line-height: 24px;color: #717378;text-align: center;}
// end middle section

.my-profile-wrapper .user-profile-wrapper .inputs-fields-wrapper{padding-top: 25px;}
.address-normal-wrapper .navigations{padding-bottom: 25px;}
.coupon-wrapper{flex-direction: column;}
.right-bill .apply-coupon-wrapper .coupon-box{width: 100%;}
.all-items-sec .left-bill .add-to-cart-items .items-details{width: 100%;}
.all-items-sec .left-bill .add-to-cart-items .items{display: grid;grid-template-columns: 1fr;align-items: center;}
.order-complete-wrapper .order-items-show .items .items-details .price{justify-content: end;}
.all-items-sec .left-bill .add-to-cart-items .items .count-price-wrapper .counter{column-gap: 0px;}
.all-items-sec .left-bill .add-to-cart-items .items .prices-wrapper{margin-top:20px;}

// Checkout start
.override-checkout .sec-orders .icon-wrapper{background-color: $darkGreen;}
.override-checkout .sec-orders p{font-weight: $bold;line-height: 24px;color: $black;}
.bill-order-lifecycle .order-wrapper{column-gap: 10px;padding-block: 10px;}
.bottom-wrapper .bill-features-wrapper .order-wrap .order-icon{width: 45px;height: 45px;}
.bottom-wrapper .bill-features-wrapper .order-wrap .order-time p{font-size: 14px;}
.bottom-wrapper .bill-features-wrapper .order-wrap .order-day p{font-size: 16px;}
.bottom-wrapper .bill-features-wrapper{padding-top: 0px;}
.bottom-wrapper .bill-features-wrapper .order-wrap{margin-top: 5px;}
.bottom-wrapper .bill-features-wrapper .sms{margin-top: 26px;}
.left-bill .buyer-info .additional{padding-top: 20px;}

//checkout end

// order complete start
.override-orderComplete .sec-orders .icon-wrapper{background-color: #C3D2CC;}
.override-orderComplete .sec-orders p{font-weight: $bold;line-height: 21px;color: #05422C;}
.override-orderComplete .third-orders .icon-wrapper{background-color: #05422C;}
.override-orderComplete .third-orders p{font-weight: $bold;line-height: 24px;color: $black;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper{display: flex;column-gap: 5px;width: 290px;}
.order-complete-wrapper .order-items-show .items .items-details{display: grid;grid-template-columns: 1fr ;padding-top: 10px;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper .img-div{width: 40px;height: 40px;}
.order-complete-wrapper .order-items-show ul li:first-child{margin-bottom: 0px;}
.all-items-sec .left-bill .cart-heading{padding-bottom: 20px;}
.left-bill .buyer-info .form-label{font-size: 14px;}
.buyer-info .css-1bh7nuu-control,.buyer-info .css-5rcx8h-control{height: 45px;}
//order complete end

// address
.my-profile-wrapper .navigations .nav-link,.address-normal-wrapper .navigations .nav-link{font-size: 18px;}
.my-profile-wrapper .navigations{padding-bottom: 30px;}

.my-profile-wrapper .user-profile-wrapper .user-info{flex-direction: column;align-items: start;gap: 18px;}
.form-label{font-size: 14px;}
.address-normal-wrapper .user-info-wrapper .address h3,.address-normal-wrapper .user-info-wrapper h3{color: $black;line-height: 30px;font-weight: $semibold;margin-block: 10px;}

.address-normal-wrapper{padding: 15px;}
.address-normal-wrapper .navigations{flex-direction: column;gap: 12px;}


.my-profile-wrapper .navigations,.address-normal-wrapper .navigations{flex-direction: column;}
.my-profile-wrapper .navigations .links{padding-top: 10px;}
.my-profile-wrapper .navigations .links .nav-link{font-size: 14px;}
.address-normal-wrapper .navigations .links .nav-link{font-size: 14px;}
.my-profile-wrapper .user-profile-wrapper .user-info .user-img{width: 80px;height: 80px;}
.right-bill .checkout-btn button{font-size: 16px;}
.wrapper .product-history-wrapper .products .product-details-wrapper .product-img{width: 100%;height: 140px;margin-bottom: 10px;}
.all-items-sec .left-bill .add-to-cart-items .items .prices-wrapper .del-btn{width: 25px;padding: 6px;}
.order-complete-wrapper .order-items-show .items .items-details .img-title-wrapper .items-name{display: grid;grid-template-columns: 1fr;}
.wrapper .product-history-wrapper .products .product-info .dropdown .btn-primary{font-size: 0.8rem;width: 75px;padding-block: 5px;}
}