@import './Variable.scss';
.product-nav{margin-left: 0;}
.selection{display: flex;justify-content: end;}
.selection .selects h3{color: $black;font-weight: $medium;}
.selection .selects{display: flex;justify-content: end;align-items: center;}
.selection .selects:not(:last-child){border-right: 2px solid black;}
.selection .selects .form-select:focus{box-shadow: none;}
.selection .selects .form-select{border: none;}
.selects{padding: 10px;}
.all-cards{margin-top: 29px;}
.all-cards .card .card-body .card-title{font-size: 24px;color: $btnColor;font-weight: $bold;font-family: $secondaryFamily;line-height: 34px;padding-bottom: 12px;margin-bottom: 0;}
.all-cards .card .card-body p{font-family: $secondaryFamily;padding-bottom: 12px;}
.all-cards .card {padding: 24px;width: 391px;}
.all-cards .card img{width: 200px;}
.all-cards .card .card-body h3{font-family: $mainFamily;}

@media (max-width:767px){
  .all-cards .card {padding: 24px;width: 100%;}

  .selection .selects h3{font-size: 16px;}
}

@media (max-width:991px){
  .all-cards .card {padding: 24px;width: 100%;}

}

@media (max-width:575px){
  .selection .selects h3{font-size: 16px;}
  .selection{display: flex;flex-direction: column; justify-content: end;}
.selection .selects:not(:last-child){border: none;}
}