@import './Variable.scss';

// Products start
.left-part .heading{margin-block-end: 20px;}
.left-part{padding-inline-end: 100px;display: flex;flex-direction: column;justify-content: center;align-items: start;height: 100%;padding-left: 8px;}
.product-wrapper .left-part{padding-inline: 94px 0;display: flex;flex-direction: column;justify-content: center;align-items: start;height: 100%;}
.Mission-image-wrapper{width: 521.35px;height: 521.35px;border-radius: 20px;}

.content-wrapper{position: relative;padding-bottom: 60px;}
.overdiv{width: 100%;background-color: $secondary;position: absolute;bottom: -134px; display: flex;justify-content: space-around;border-radius: 20px;}
.overdiv .one{display: flex;align-items: center;gap: 26px;padding-block: 40px;}

.product-wrapper{border: 1px solid #D4D2E3;border-radius: 24px;padding: 48px 40px;}
.check-list-wrapper{padding-top: 40px;}
.check-list-wrapper ul {list-style-type: none;padding-left: 0;}

.check-list-wrapper ul li {position: relative;padding-left: 30px;padding-block: 0 16px;}

.check-list-wrapper ul li::before {content: '';position: absolute;left: 0;width: 20px;height: 20px;background-image: url('../assets/Check.png');background-size: contain;background-repeat: no-repeat;}
// .slider-btn-wrapper .primary{border-radius: 40px;padding: 24px 36px;}
// .slider-btn-wrapper .primary:hover{background-color: #96c93dcc;}
.slider-btn-wrapper {padding-top: 80px;}

// products end

//product listing start

.product-nav{margin-left: 0;}
.selection{display: flex;justify-content: end;}
.selection .selects h3{color: $black;font-weight: $medium;}
.selection .selects{display: flex;justify-content: end;align-items: center;}
.selection .selects:not(:last-child){border-right: 2px solid black;}
.selection .selects .form-select:focus{box-shadow: none;}
.selection .selects .form-select{border: none;}
.selects{padding: 10px;}
.all-cards{margin-top: 29px;}
.all-cards .card .card-body .card-title{font-size: 24px;color: $btnColor;font-weight: $bold;font-family: $secondaryFamily;line-height: 34px;padding-bottom: 12px;margin-bottom: 0;}
.all-cards .card .card-body p{font-family: $secondaryFamily;padding-bottom: 5px;}
.all-cards .card {padding: 24px;width: 391px;}
.all-cards .product-image-wrapper{width: 200px;}
.all-cards .card .card-body h3{font-family: $mainFamily;}

//product listing end

//product details start

.final-product-details-wrapper{padding: 48px 40px;border: 1px solid #D4D2E3;border-radius: 24px;}
.right-part .heading .sale-info{font-size: 18px;font-weight: $regular;line-height: 30px;}
.right-part .heading h3{line-height: 30px;font-weight: $bold;color: $black;text-decoration: line-through;}
.right-part .heading p{margin-bottom: 5px;}
.right-part .addtocart{box-shadow: 2px 3px 7px #0000001A;}
.right-part .addtocart{box-shadow: 6px 11px 12px #0000001A;}
.right-part .addtocart:active{background-color: #80b32fc4;}

.right-part .sub-heading p{font-size: 18px;line-height: 18px;font-weight: $bold;font-family: $secondaryFamily;margin-bottom: 24px;}
.right-part .quantity{display: flex;justify-content: space-between;align-items: center;margin-bottom: 40px;}
.right-part .quantity p{padding-right: 40px;font-weight: $bold;font-family: $secondaryFamily;}
.right-part .quantity .btn-wrapper{border: 1.5px solid $primary;padding: 0px 10px;width: 197px;display: flex;justify-content: space-between;align-items: center;border-radius: 10px;}
.right-part .quantity .btn-wrapper button{background-color: transparent;border: none;cursor: pointer;padding:0px;}
.right-part button{background-color: $btnColor;border: none;display: flex;justify-content: space-between;align-items: center;gap: 10px;}
.right-part .addtocart .btn-svg-wrap{width: 32px;height: 32px;}

// .right-part button:hover{background-color: #80b32fcb;}
// .right-part button svg{margin-left: 8px;}
.battery-image-wrapper{width: 500px;height: 500px;}
.right-part{padding-right: 0px;}
.product-nav{margin-top: 10px;}
.product-nav .nav-link{font-size: 20px;}
// product details end
.right-part .heading h2,.right-part .heading h3{margin-bottom: 16px;}

// Responsive

@media (max-width:1199px){
  .left-part {padding-inline-end: 40px;} 
  // .Mission-image-wrapper{width: 400px;height: 400px;}
  .Mission-image-wrapper{width: 450px;height: 450px;}
  .battery-image-wrapper{width: 400px;height: 400px;}

  // product details start
  .left-part {padding-inline-end: 40px;} 
  // .Mission-image-wrapper{width: 400px;height: 400px;}
  // product details end
}
@media (max-width:768px){
  .left-part {padding-inline-end: 40px;padding-bottom: 20px;} 
  .p-details{width: 300px;height: 300px;}
  .product-wrapper .left-part{padding-inline: 0 0;padding-top: 20px;}
  .overdiv{bottom: -100px;}
  .overdiv .one p{font-size: 14px;}
  .overdiv .one svg{width: 100%;height: 100%;}
  .overdiv .one .svg-div{width: 30px;}
  .right-part .addtocart{font-size: 16px;}
  .right-part .quantity p{font-size: 18px;}
  // product listing start
  .all-cards .card {padding: 24px;width: 100%;}
  .selection .selects h3{font-size: 16px;}
  .slider-btn-wrapper {padding-top: 50px;}
  .right-part .heading h2,.right-part .heading h3{margin-bottom: 10px;}

  // product listing end

  //product details start
  .right-part{padding-right: 0px;}
  .product-wrapper{margin-block: 60px 30px;}
  .product-wrapper .Mission-image-wrapper{width: 300px;height: 300px;}

  .slider-btn-wrapper {padding-top: 50px;}

  // product details end
  .Mission-image-wrapper{width: 350px;height: 350px;}

//  .final-product-details-wrapper .Mission-image-wrapper{width: 300px;height: 300px;}
 .left-part .heading{margin-bottom: 30px;}
 
}

@media (max-width:575px){
  .left-part .heading{margin-bottom: 5px;}
  .left-part {padding-inline-end: 0px;padding-bottom: 0;} 
  .Mission-image-wrapper{width: 100%;height: 150px;margin-top: 0px;}
  .overdiv{justify-content:space-evenly;gap: 15px;bottom: -63px;}
  .overdiv .one{flex-direction: column;gap: 10px;text-align: center;padding-block:25px}
  .overdiv .one .svg-div{width: 20px;}
  .overdiv .one p{font-size: 12px;}

  .product-wrapper .Mission-image-wrapper{width: 100%;height: 150px;}

  .product-wrapper{border: 1px solid #D4D2E3;border-radius: 24px;padding: 10px;}
  .all-cards .product-image-wrapper{width: 150px;}

  //product listing start
  .selection .selects h3{font-size: 16px;}
  .selection{display: flex;flex-direction: column; justify-content: end;}
  .selection .selects:not(:last-child){border: none;}
// product listing end

//product details start

.final-product-details-wrapper{padding: 10px;}
// .final-product-details-wrapper .Mission-image-wrapper{width: 250px;height: 250px;}

.right-part .quantity{display: flex;justify-content: space-between;align-items: start;margin-bottom: 40px;flex-direction: column;gap: 5px;}
.right-part .heading h2,.right-part .heading h3{margin-top: 5px;margin-bottom: 5px;}
.right-part .heading p{margin-bottom: 20px;}
.p-details{margin-top: 10px;}
.right-part .sub-heading p{margin-bottom: 15px;}
.right-part .quantity .btn-wrapper{width: 150px;}
.right-part .quantity {gap: 10px;}
// .battery-image-wrapper{width: 250px;height: 250px;}
.product-nav h3{font-size: 14px;}
.navigation .nav .nav-link:last-child {color: #000000;font-weight: 500;line-height: 20px;display: flex;justify-content: center;padding-left: 8px;color: #95C93D;
}
.check-list-wrapper ul li {font-size: 14px;}
.custom-mt{margin-top: 15px;}
// product details end
}
