@import './Variable.scss';
.final-product-details-wrapper{padding: 48px 40px;border: 1px solid #D4D2E3;border-radius: 24px;}
.right-part .heading .sale-info{font-size: 18px;font-weight: $regular;line-height: 30px;}
.right-part .heading h3{font-size: 24px;line-height: 30px;font-weight: $bold;color: $black;text-decoration: line-through;}
.right-part .heading p{margin-bottom: 40px;}

.right-part .sub-heading p{font-size: 18px;line-height: 18px;font-weight: $bold;font-family: $secondaryFamily;margin-bottom: 24px;}
.right-part .quantity{display: flex;justify-content: space-between;align-items: center;margin-bottom: 40px;}
.right-part .quantity p{padding-right: 40px;font-weight: $bold;font-family: $secondaryFamily;}
.right-part .quantity .btn-wrapper{border: 1.5px solid $primary;padding: 0px 10px;width: 197px;display: flex;justify-content: space-between;align-items: center;border-radius: 10px;}
.right-part .quantity .btn-wrapper button{background-color: transparent;border: none;cursor: pointer;padding:0px;}
.right-part button{background-color: $btnColor;border: none;padding: 20px 40px;border-radius: 30px;display: flex;justify-content: space-between;align-items: center;}
.right-part button:hover{background-color: #80b32fcb;}
.right-part button svg{margin-left: 8px;}
.battery-image-wrapper{width: 500px;height: 500px;}
.right-part{padding-right: 0px;}
.product-nav{margin-top: 40px;}
@media (max-width:1199px){
  .left-part {padding-inline-end: 40px;} 
  .Mission-image-wrapper{width: 400px;height: 400px;}
}
@media (max-width:991px){
  .right-part{padding-right: 0px;}
  .Mission-image-wrapper{width: 300px;height: 300px;}
}
@media (max-width:575px){
  .final-product-details-wrapper{padding: 30px 10px;}
  .right-part .quantity{display: flex;justify-content: space-between;align-items: start;margin-bottom: 40px;flex-direction: column;}
  .right-part .heading h2{margin-top: 10px;}
.battery-image-wrapper{width: 250px;height: 250px;}
.product-nav h3{font-size: 14px;}
.navigation .nav .nav-link{font-size: 12px;}
.navigation .nav .nav-link:last-child {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  padding-left: 8px;
  color: #95C93D;
}
}