@import './Variable.scss';
.slider-image-wrapper{width:200px;display: flex;justify-content: center;}
.slider-image-wrapper .rating-wrapper{width: 178px;height: 26px;display: flex;padding-left: 0px;margin-bottom: 0;gap: 8px;}

.rating-slider{margin-inline:20px;height: 100%;}
.rating-slider .slider-card .card-body h3{padding-block: 14px;}
.rating-slider .slider-card .card-body p{color: #9795B5;}
.rating-slider .slider-card .card-body .types{color: #BADE78;}
.rating-slider .slider-card{display: flex;align-items: start;border-radius: 24px;}

span{width: 20px;height: 20px;}
.ratingSlider-parent .react-multi-carousel-list{padding-bottom: 5px;}


.ratingSlider-parent .react-multiple-carousel__arrow{z-index: 0;}
.ratingSlider-parent .react-multiple-carousel__arrow::before{font-size: 20px;}
.ratingSlider-parent .react-multiple-carousel__arrow::before{font-size: 20px;color: $black;}
.ratingSlider-parent .react-multiple-carousel__arrow--right{right: -8px; background-color: transparent;}
.ratingSlider-parent .react-multiple-carousel__arrow--left{left: -8px; background-color: transparent;}





@media (max-width:991px){
  .slider-image-wrapper{margin-block: 0 0px;}
  .slider-image-wrapper .rating-wrapper{width: 170px;height: 26px;display: flex;margin-top: 20px;margin-bottom: 0;gap: 12px;}
  .ratingSlider-parent .react-multi-carousel-list ul li .rating-slider{width: 320px;}
}


@media (max-width:575px){
  .rating-slider .slider-image-wrapper{width:204px;}
  
  .ratingSlider-parent .react-multiple-carousel__arrow{min-width: 25px;min-height: 25px;display: flex;justify-content: center;align-items: center;}
  .ratingSlider-parent .react-multiple-carousel__arrow::before{font-size: 16px;}
  .ratingSlider-parent .react-multiple-carousel__arrow--left{display: none;}
  .ratingSlider-parent .react-multi-carousel-list ul li {width: 100vw;display: flex;height: 100%;}
  .ratingSlider-parent .react-multi-carousel-list ul li .rating-slider{width: 100vw}

}


