@import './Variable.scss';
.slider-card .slider-image-wrapper img{width: 100%;}
.slider-image-wrapper{width:200px;display: flex;justify-content: center;margin-block: 29px;}

.slider .slider-card .card-body h3{color: $purple;}
.order-parent .react-multiple-carousel__arrow{z-index: 0;min-width: 25px;min-height: 25px;}
.order-parent .react-multiple-carousel__arrow::before{font-size: 20px;color: $black;}
.order-parent .react-multiple-carousel__arrow--right{right: 0;background-color: transparent;}
.order-parent .react-multiple-carousel__arrow--left{left: -7px;background-color: transparent;}
.slider .slider-card{display: flex;align-items: center;}
.slider{width:263px}

@media (max-width:1200px){
  .slider .slider-image-wrapper{width:150px;}
  .slider{width: 200px;}
  }

@media (max-width:991px){
  .slider .slider-image-wrapper{width:150px;}
  .slider{width: 205px;}
  .react-multi-carousel-track{column-gap: 30px;}
}

@media (max-width:575px){
  .slider .slider-image-wrapper{width:200px;}
  .slider{width: 100vw;}
  .react-multi-carousel-track{column-gap: 0px;}
}


